.list-products-container{
    background-color: grey;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 100%;
}

.list-products-container h4{
    padding: 40px;
    margin-left: 30px;
}

.list-products-container .table .content{
    padding: 30px;
}

.list-products-container .table .content .product{
    display: inline-block;
    color: white;
    width: auto;
    height: auto;
    text-decoration: none;
    text-align: center;
    background-color: brown;
    overflow: hidden;
    margin: 10px;
    padding: 5px;
}
 
.list-products-container .table .content .product:hover {
    background-color: white;
    color: black;
}

