
  .footer{
    margin: 0px auto;
    bottom: 0px;
    width: 100%;
    height: 40px;
    }
  
  .footer-container {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    height: 30px;
  }
  
  .footer-container div{
    display: block;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
  
  }
